/* common */

:root {
  --mainText-color: #515f6d;
}

body {
  margin: 0;
  color: var(--mainText-color);
  background-color: #fefefe;
}

h1 {
  margin: 0;
  font-weight: normal;
  font-size: 28px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

dd {
  margin: 0;
}

dl {
  margin: 0;
}

button,
input,
textarea {
  border-style: none;
}

.container {
  /* outline: 1px solid red; */
  width: calc(100% - 36px);
  margin: 0 auto;
  max-width: 960px;
}

h2 {
  text-align: center;
  padding-bottom: 20px;
}

.btn {
  display: block;
  text-align: center;
  width: 200px;
  padding: 14px 0;
  color: #eee;
  background-color: #222;
  margin: 0 auto;
  font-size: 14px;
}

/* header */

#header {
  padding: 18px 0 12px;
}

#header h1,
#header nav {
  text-align: center;
}

#header ul {
  font-size: 14px;
  width: 264px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header li:nth-child(5) {
  font-size: 20px;
}

/* hero */

#hero img {
  height: 420px;
  width: 100%;
  object-fit: cover;
}

/* about */

#about {
  padding-top: 60px;
}

#about h2 {
  text-align: center;
  padding-bottom: 20px;
}

#about p,
#about ul {
  font-size: 0.9em;
}

#about .data {
  padding: 30px 0;
}

/* works */

#works {
  padding-top: 56px;
}

#works li + li {
  padding-top: 22px;
}

#works img {
width: 100%;
}

/* news */

#news {
  padding-top: 72px;
}

#news dl {
  font-size: 14px;
  border-bottom: 1px solid #aaa;
  display: flex;
  flex-direction: column;
}

#news dl:nth-of-type(1) {
  border-top: 1px solid #aaa;
}

#news dt,
#news dd {
  padding: 15px;
}

#news dt {
  padding-bottom: 0;
}

#news dd {
  padding-top: 0;
}

/* content */

#contact {
  padding-top: 48px;
}

#contact dt {
  font-size: 14px;
}

#contact dd input,
#contact dd textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  outline: 1px solid #ccc;
  background-color: transparent;
  margin: 2px 0 10px;
}

#contact .btn {
  margin-top: 36px;
  margin-bottom:  128px;
}

/* footer */

#footer { 
  padding: 4px 0 8px;
  background-color: #222;
  text-align: center;
}

#footer small {
  margin: 0 auto;
  font-size: 8px;
  color: #eee;
}

/* midium screen */

@media (min-width: 600px) {
  
  /* header */
  #header {
    padding: 112px 0;
  }
  
  #header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #header nav ul {
    width: 280px;
  }
  
  /* workds */
  #works li + li {
    padding-top: 0;
  }

  #works ul {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    gap: 28px;
  }


  /* news */
  #news dt {
    width: 18%;
    padding-bottom: 15px;
  }

  #news dd {
    width: 70%;
    padding-top: 15px;
    border-bottom: 0;
  }

  #news dl {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  /* contact */
  #contact dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #contact dt {
    width: 18%;
  }

  #contact dd {
    width: 74%;
  }
}

@media (min-width: 960px) {
  .container {
    width: calc((100% - 36px) - ((100% - 960px) * 1.1));
  }
}
